@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

* {
  font-family: Inter;
  font-size: 20px;
  font-weight: lighter;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*header*/

.texto-header {
  font-size: 17px;
  background-color: #1cd1b0;
}

.contenedor-logo-header {
  display: flex;
  background-color: #00669f;
}

.nombre-tienda {
  padding: 15px 5px;
  color: white;
}

.contenedor-nav-header {
  background-color: #001d2d;
  color: white;
  margin-bottom: 37px;
}

.nav-header {
  display: flex;
  justify-content: flex-end;
}

.lista-nav-header {
  list-style: none;
  display: flex;
}

.lista-nav-header li {
  padding: 8px;
  font-size: 16px;
}

/*main*/

.contenedor-main {
  position: relative;
  left: 15%;
}

.forms {
  max-width: 50vw;
}

.formulario-compra {
  color: white;
  /* position: relative;
  left: 12%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 954px;
  height: 832px;
  background-color: #00669f;
  border-radius: 2%;
}

.linea-divisora {
  margin: 10px;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

h4 {
  text-align: center;
}

.formulario-columnas {
  padding: 8px;
  display: flex;
  justify-content: center;
  max-width: 750px;
}

.formulario-columna1,
.formulario-columna2 {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 70%;
  align-items: flex-start;
  justify-content: space-evenly;
}

label,
input {
  margin: 7px;
}

input[type="text"],
input[type="date"],
select {
  border-radius: 15px;
  border: 0;
  height: 63px;
  width: 343px;
}

select {
  margin-top: 5px;
  height: 53px;
  width: 343px;
}

input[type="file"] {
  border-radius: 15px;
  border: 0;
}

input[type="radio"],
textarea {
  border-radius: 15px;
  border: 0;
}

input[type="checkbox"] {
  border-radius: 15px;
}

.radio-forms,
.checkbox-forms {
  max-width: 343px;
  display: flex;
  flex-direction: column;
}

input[type="radio"],
input[type="checkout"] {
  flex-wrap: wrap;
}

textarea {
  resize: none;
}

.checkbox-poderes,
.radio-personaje {
  height: 20px;
  width: 24px;
}

.radio-inputs {
  display: flex;
  flex-direction: column;
}

.fieldset-forms {
  border: solid #00669f;
}

.boton-añadir {
  display: flex;
  justify-content: center;
}

input[type="submit"] {
  height: 77px;
  width: 456px;
  background-color: #1cd1b0;
  border: 0;
  border-radius: 15px;
  font-size: 30px;
  font-weight: bold;
}

/*footer*/

.contenedor-footer {
  background-color: #00669f;
  margin-top: 37px;
}

.texto-footer {
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 12px;
}

/*PSEUDOSELECTORES Y PSEUDOELEMENTOS*/

input[type="text"]:hover:valid {
  background-color: #c2ffb8;
}

input[type="text"]:hover:invalid {
  background-color: #ffc2b8;
}

input[type="submit"]:active {
  background-color: #001d2d;
  color: white;
}

input[type="submit"]:hover {
  cursor: pointer;
}

.lista-nav-header li:hover {
  cursor: pointer;
}
